div {
  width: 200px;
  height: 200px;
}

#Seccion_1 {
  background-color: aqua;
  float: left;
}

#Seccion_2 {
  background-color: black;
  float: right;
}

#Seccion_3 {
  background-color: red;
  float: right;
  clear: both;
}

#Seccion_4 {
  background-color: pink;
}
